<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<title>Pixie - Create</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
</head>

<body>
	<a href="index.html"><img src="logocolor.png" id="icon"></a>
	<nav>
		<a href="explore.html"><div id="explore">Explore</div></a>
		<a href="profile.html"><div id="profile">Profile</div></a>
		<a href="create.html" id="a-create"><div id="create">Create</div></a>
	</nav>

	<a href="stylize"><div class="user-actions" id="filter">
		<div class="word"><h4>Stylize your photos</h4></div>
	</div></a>

	<a href="style"><div class="user-actions" id="style">
		<div class="word"><h4>Create your own style</h4></div>
	</div></a>
</body>
</html>