
{% extends "base.html" %}
{% block title %}Filter Choose{% endblock %}

{% block page_content %}

<div style="margin-top: 10vh;">
  <p class="informA">Please choose a filter.</p>
  <p class="informA">This will apply to all the other photos as well.</p>
</div>

<form method="POST">

<div class="labelA">Food</div>
<div id="imgA">
{% for image_name in categories['food'] %}
	<img src = " {{url_for('get_file',filename=image_name)}}" height = 224/4 width = 224/4>
{% endfor %}
</div>

 <div id="filtersFoodA">
  <div id="labelFoodA">Food</div>
  <div class="placeholderA">
      <input type="checkbox" class="toggle" name='food' value = "lichipan">
      <img src = " {{url_for('static',filename='img/lichipan.jpg')}}" height = 224/4 width = 224/4>
      <b><font color="white">@____lichipan____</b>
  </div>
  <div class="placeholderA">
      <input type="checkbox" class="toggle" name='food' value = "skyemcalpine">
      <img src = " {{url_for('static',filename='img/skyemcalpine.png')}}" height = 224/4 width = 224/4>
      <b><font color="white">@skyemcalpine</b>
  </div>
  <div class="placeholderA">
      <input type="checkbox" class="toggle" name='food' value = "artfuldesperado">
      <img src = " {{url_for('static',filename='img/artfuldesperado.png')}}" height = 224/4 width = 224/4>
      <b><font color="white">@artfuldesperado</b>
  </div>
  <div class="placeholderA">
      <input type="checkbox" class="toggle" name='food' value = "vibrantandpure">
      <img src = " {{url_for('static',filename='img/vibrantandpure.jpg')}}" height = 224/4 width = 224/4>
      <b><font color="white">@vibrantandpure</b>
  </div>
</div>

<div class="labelA">Room</div>
<div id="imgA">
{% for image_name in categories['room'] %}
  <img src = " {{url_for('get_file',filename=image_name)}}" height = 224/4 width = 224/4>
{% endfor %}
</div>

<div id="filtersRoomA">
  <div id="labelFoodA">Room</div>
  <div class="placeholderA">
      <input type="checkbox" class="toggle" name='room' value = "alyssakapitointeriors">
      <img src = " {{url_for('static',filename='img/alyssakapitointeriors.png')}}" height = 224/4 width = 224/4>
      <b><font color="white">@_alyssakapitointeriors</b>
  </div>
  <div class="placeholderA">
      <input type="checkbox" class="toggle" name='room' value = "preppybohemianathome">
      <img src = " {{url_for('static',filename='img/preppybohemianathome.png')}}" height = 224/4 width = 224/4>
      <b><font color="white">@preppybohemianathome</b>
  </div>
  <div class="placeholderA">
      <input type="checkbox" class="toggle" name='room' value = "titonfenwick">
      <img src = " {{url_for('static',filename='img/titonfenwick.png')}}" height = 224/4 width = 224/4>
      <b><font color="white">@titonfenwick</b>
  </div>
  <div class="placeholderA">
      <input type="checkbox" class="toggle" name='room' value = "hernandezgreene">
      <img src = " {{url_for('static',filename='img/hernandezgreene.png')}}" height = 224/4 width = 224/4>
      <b><font color="white">@hernandezgreene</b>
  </div>
</div>

<div class="labelA">Portrait</div>
<div id="imgA">
{% for image_name in categories['portrait'] %}
  <img src = " {{url_for('get_file',filename=image_name)}}" height = 224/4 width = 224/4>
{% endfor %}
</div>

<div id="filtersPortraitA">
    <div id="labelFoodA">Portrait</div>
  <div class="placeholderA">
      <input type="checkbox" class="toggle" name='portrait' value = "jesseherzog">
      <img src = " {{url_for('static',filename='img/jesseherzog.png')}}" height = 224/4 width = 224/4>
      <b><font color="white">@jesseherzog</b>
  </div>
  <div class="placeholderA">
      <input type="checkbox" class="toggle" name='portrait' value = "5thphvse">
      <img src = " {{url_for('static',filename='img/5thphvse.jpg')}}" height = 224/4 width = 224/4>
      <b><font color="white">@___5thphvse___</b>
  </div>
  <div class="placeholderA">
      <input type="checkbox" class="toggle" name='portrait' value = "aaa">
      <img src = " {{url_for('static',filename='img/jordanvoth.jpg')}}" height = 224/4 width = 224/4>
      <b><font color="white">@jordanvoth</b>
  </div>
  <div class="placeholderA">
      <input type="checkbox" class="toggle" name='portrait' value = "mortenlen.sea">
      <img src = " {{url_for('static',filename='img/mortenlen.sea.png')}}" height = 224/4 width = 224/4>
      <b><font color="white">@mortenlen.sea</b>
  </div>
  </div>

<div class="labelA">Style not imported</div>
<div id="imgA">
{% for image_name in categories['style_not_imported'] %}
  <img src = " {{url_for('get_file',filename=image_name)}}" height = 224/4 width = 224/4>
{% endfor %}dd
</div>


<button type="submit" class="btn btn-default"><div id="stylize-ctaA">Next</div></button>
</form>




{% endblock %}
